In [1]:
import pandas as pd
import numpy as np

In [21]:
df=pd.read_csv('Kept as a copy of uncleaned data.csv')

In [22]:
def employee_count(inp):
    inp=str(inp)
    ret=''
    n=1
    for i in inp:
        if i=='-' and n==2:
            pass
        elif i =='-':
            n+=1
            ret+=i
        elif i in '0123456789-+':
            ret+=i
    if ret=='':
        ret=np.nan
    return ret

def applicants(inp):
    inp=str(inp)
    ret=''
    if inp=='' or inp=='Nil':
        ret=0
    else:
        for i in inp:
            if i in '0123456789':
                ret+=i
    if ret=='':
        ret=np.nan
    return ret

In [23]:
df.Employees=df.Employees.apply(employee_count)
df.Applicants=df.Applicants.apply(applicants)
df.Followers=df.Followers.apply(applicants)
pd.set_option('display.max_rows', None)

In [24]:
def job_level(inp):
    dot_position=inp.rfind('·')
    out=''
    if dot_position!=-1:
        out=inp[dot_position+2:]
    if len(out.strip())==0:
        out='N/A'
    return out
    


    
def job_type(inp):
    try:
        dot_position=inp.index('·')
        out=inp[:dot_position-1]
        out=out.strip()
    except:
        out=inp.strip()
    return out



df.Location=df.Location.apply(lambda x: x.lower())
certain_words=['north','east','south','west','contonment','urban','navi']
def only_city(inp):
    comma_count=inp.count(',')
    if comma_count==2:
        comma_postion=inp.find(',')
        city=inp[:comma_postion]
        city=city.strip().title()
        for word in certain_words:
            if word in city:
                city=city.replace(word,'')
                city=city.strip().title()

    else:
        city='N/A'
    return city


def state(inp):
    inp=inp.strip()
    comma_count=inp.count(',')
    if comma_count==2:
        out=inp.split(',')[1]
        out=out.strip()
        out=out.title()
    elif comma_count==1:
        out=inp.split(',')[0]
        out=out.strip()
        out=out.title()
    else:
        out='N/A'
    return out

In [25]:
df['Job_type']=df.Job_level.apply(job_type)
df['Job_level']=df.Job_level.apply(job_level)
df['City']=df.Location.apply(only_city)
df['State']=df.Location.apply(state)
df['Country']='India'

In [30]:
df.isnull().sum()

Company       0
Job_name      0
Location      0
Applicants    0
Job_level     0
Employees     0
Followers     0
Industry      0
Job_type      0
City          0
State         0
Country       0
dtype: int64

In [27]:
df.shape

(741, 12)

In [28]:
df.dropna(inplace=True,axis=0)

In [29]:
df.shape

(718, 12)

In [31]:
df.to_excel('Cleaned.xlsx')

In [15]:
df

,Job_ID,Company,Job_name,Location,Applicants,involvement,Level,Employees,Link,Followers,Industry,skills,merged,Company_ID,Details_ID,clusters
0,J-0,MedTourEasy,R Analyst Trainee,"Bengaluru, Karnataka, India",14,Internship,Internship,350,https://www.linkedin.com/company/medtoureasyy/...,18054,Hospitals and Health Care,"adaptability,business acumen,communication ski...",InternshipInternship14,C-0,D-0,3
1,J-1,Infoparks Kerala,Immediate hiring - AR Caller,"Kochi, Kerala, India",3,Full-time,Entry level,10001,https://www.linkedin.com/company/infoparkskera...,57465,IT Services and IT Consulting,"analytical and problem solving,communication s...",Full-timeEntry level3,C-1,D-1,3
2,J-2,Infoparks Kerala,QA Tester - Manual and Automation,"Kochi, Kerala, India",18,Full-time,Entry level,10001,https://www.linkedin.com/company/infoparkskera...,57465,IT Services and IT Consulting,"analytical and problem solving,communication s...",Full-timeEntry level18,C-1,D-2,3
3,J-3,GE Healthcare,Software Engineer,"Bengaluru, Karnataka, India",46,Full-time,Entry level,10001,https://www.linkedin.com/company/gehealthcare/...,1897527,Hospitals and Health Care,"analytical and problem solving,collaboration,c...",Full-timeEntry level46,C-2,D-3,0
4,J-4,Qualcomm,"Engineer, Staff","Hyderabad, Telangana, India",11,Full-time,Entry level,10001,https://www.linkedin.com/company/qualcomm/life/,1156557,Wireless Services,"analytical and problem solving,machine learnin...",Full-timeEntry level11,C-3,D-4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,J-404,Larsen & Toubro,Project Manager,"Chennai, Tamildu, India",91,Full-time,Entry level,10001,https://www.linkedin.com/company/larsen-&-toub...,3365316,Construction,data analytics,Full-timeEntry level91,C-106,D-171,2
405,J-405,Aster DM Healthcare,"Staff Nurse. Nursing.Aster Mother Hospital, Ar...","Eranad, Kerala, India",11,Full-time,Mid-Senior level,10001,https://www.linkedin.com/company/asterdmhealth...,298865,Hospitals and Health Care,data analytics,Full-timeMid-Senior level11,C-165,D-26,3
406,J-406,Larsen & Toubro,Project Site Engineer,"Chennai, Tamildu, India",59,Full-time,Entry level,10001,https://www.linkedin.com/company/larsen-&-toub...,3365316,Construction,data analytics,Full-timeEntry level59,C-106,D-172,2
407,J-407,Aster DM Healthcare,Deputy Manager.International Marketing.Aster C...,"Bengaluru, Karnataka, India",5,Full-time,Mid-Senior level,10001,https://www.linkedin.com/company/asterdmhealth...,298865,Hospitals and Health Care,data analytics,Full-timeMid-Senior level5,C-165,D-14,3
408,J-408,Mahindra Group,Senior Engineer,"Chennai, Tamildu, India",6,Full-time,Mid-Senior level,10001,https://www.linkedin.com/company/mahindragroup...,1083086,Executive Offices,data analytics,Full-timeMid-Senior level6,C-85,D-34,0

In [16]:
df=pd.read_csv('master_data_file.csv')

In [23]:
df[['Industry','Company']].groupby('Industry').count().sort_values(['Company'], ascending=False)

                                                    Company
Industry
IT Services and IT Consulting                            70
Financial Services                                       68
E-Learning Providers                                     24
Motor Vehicle Manufacturing                              24
Banking                                                  20
Software Development                                     19
Business Consulting and Services                         18
Staffing and Recruiting                                  16
Pharmaceutical Manufacturing                             15
Hospitals and Health Care                                12
Hospitality                                              11
Professional Services                                     7
Technology, Information and Internet                      7
Oil and Gas                                               6
Information Services                                      6
Retail                                                    5
Book and Periodical Publishing                            5
Industrial Machinery Manufacturing                        5
Real Estate                                               4
Transportation, Logistics, Supply Chain and Sto...        4
Accounting                                                4
Construction                                              4
Appliances, Electrical, and Electronics Manufac...        3
Human Resources Services                                  3
Advertising Services                                      3
Aviation and Aerospace Component Manufacturing            3
Machinery Manufacturing                                   3
Manufacturing                                             3
Food and Beverage Manufacturing                           3
Executive Offices                                         2
Airlines and Aviation                                     2
Technology, Information and Media                         2
Automation Machinery Manufacturing                        2
Semiconductor Manufacturing                               2
Biotechnology Research                                    2
Chemical Manufacturing                                    2
Outsourcing and Offshoring Consulting                     2
Wireless Services                                         2
Legal Services                                            1
Wholesale Building Materials                              1
Food and Beverage Services                                1
Equipment Rental Services                                 1
Environmental Services                                    1
Entertainment Providers                                   1
Education                                                 1
Consumer Services                                         1
Personal Care Product Manufacturing                       1
Beverage Manufacturing                                    1
Research Services                                         1
Renewable Energy Semiconductor Manufacturing              1
Market Research                                           1
Mobile Computing Software Products                        1
Civil Engineering                                         1
Retail                                                    1